<div class="jumbotron text-center">
  <h1 >GradeAssist</h1>
  <p>Making grading easier and more efficient so teachers can focus on helping students learn. </p>
  <p>Created by <strong>Scott Lenander</strong></p>
</div>
