<div class="jumbotron text-center">
  <h1 >GradeAssist</h1>
  <p>Making grading easier and more efficient so teachers can focus on helping students learn. </p>
  <p>Created by <strong>Scott Lenander</strong></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Record Attendance</h3>
      <p>Use your phone to record attendance everyday, then view and edit attendance records for each student. Dates for absences and lates are displayed in a student's dashboard.</p>
    </div>
    <div class="col-md-4">
      <h3>View Student Records</h3>
      <p>Student dashboards make it easy to see how a student is performing in a class. Detailed records allow a teacher to delve into class participation, homework, and test grades to find out where a student needs to improve.</p>
    </div>
    <div class="col-md-4">
      <h3>Final Grade Reports</h3>
      <p>Save time at the end of the semester by downloading an .xls spreadsheet. Teachers have the option to modify the grades then drag and drop them into the final report format of your choice. Grades are automatically averaged to save you time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Click on the <em><strong>GradeAssist</strong></em> logo at the top to get started!</h4>
    </div>
</div>
